html {
  background-color: #ffffff;
}

body {
  width: 80%;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  border-color: #3377ff;
  font-family: Arial, Verdana, sans-serif;
  color: #002266;
}

header {
  background-color: #3377ff;
  padding: 10px;
}

header img {
  width: 800px;
  height: 80px;

  /*Just for checking the css */
  min-width: 800px;
  min-height: 80px;
  border: 5px;
  border-style: solid;
  border-color: #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #ccddff;
}
nav ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
nav li {
  display: inline;
}

nav img {
  width: 150px;
  height: 40px;
  /*Just for checking the css */
  min-width: 150px;
  min-height: 40px;
  border: 5px;
  border-style: solid;
  border-color: #000000;
}

.left {
  width: 300px;
  padding-left: 20px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.left:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.main {
  margin-left: auto;
  margin-right: auto;
  margin-left: 300px;
  min-width: 600px;
  padding-left: 50px;
  padding-right: 50px;
  /* width: 600px; */
  color: #6699ff;
}

fieldset {
  background-color: #ffcc99;
}

#new {
  float: right;
  margin: 20px;
}

#new:after {
  content: "";
  display: block;
  clear: both;
}

.left video {
  margin-top: 50px;
  margin-bottom: 50px;
}

#ad {
  width: 200px;
  height: 100px;
  /*Just for checking the css */
  min-width: 200px;
  min-height: 100px;
  border: 5px;
  border-style: solid;
  border-color: #000000;
  float: right;
}

.item {
  display: inline-block;
  padding: 10px;
}

.item img {
  width: 100px;
  height: 100px;

  min-width: 100px;
  min-height: 100px;
  border: 5px;
  border-style: solid;
  border-color: #000000;
}

/* .main span {
  display: inline;
} */

footer {
  background-color: #3377ff;
  font-size: small;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
